<!DOCTYPE html>
<html>
<head>
  <title>Firehose Project quiz</title>
</head>
<body>

<section id="intro">
<div class="container">
  
    <div class="row">
      <div class="col text-center headline">
        <H1>A non-black colored headline</H1>
      </div>
    </div>
  
    <div class="col flavor text-center">
      <p>Also a pretty picture of stars</p>
    </div>

    <div class="col">
      <%= image_tag 'stars-bg.jpg', class: 'img-fluid' %>
    </div>


  </div>

</section>

</body>
</html>